@model AcunMedyaPortfolyo.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update About</h2>

<form method="post">
    @Html.HiddenFor(x => x.AboutID)
    <label>Image</label>
    <br />
    @Html.TextBoxFor(x => x.ImageURL)
    <br />
    <label>Title</label>
    <br />
    @Html.TextBoxFor(x => x.Title)
    <br />
    <label>Birthday</label>
    <br />
    @Html.TextBoxFor(x => x.Birthday)
    <br />
    <label>Website</label>
    <br />
    @Html.TextBoxFor(x => x.WebSite)
    <br />
    <label>Phone</label>
    <br />
    @Html.TextBoxFor(x => x.Phone)
    <br />
    <label>City</label>
    <br />
    @Html.TextBoxFor(x => x.City)
    <br />
    <label>Age</label>
    <br />
    @Html.TextBoxFor(x => x.Age)
    <br />
    <label>Freelance</label>
    <br />
    @Html.TextBoxFor(x => x.Freelance)
    <br />
    <label>Description1</label>
    <br />
    @Html.TextBoxFor(x => x.Description1)
    <br />
    <label>Description2</label>
    <br />
    @Html.TextBoxFor(x => x.Description2)
    <br />
    <label>Degree</label>
    <br />
    @Html.TextBoxFor(x => x.Degree)
    <br />
    <button class="btn btn-success">Update</button>
</form>