@model AcunMedyaPortfolyo.Models.Message
@{
    ViewBag.Title = "UpdateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>UpdateMessage</h2>

<form method="post">
    @Html.HiddenFor(x => x.MessageID)
    <label>Ad Soyad</label>
    <br />
    @Html.TextBoxFor(x => x.NameSurname)
    <br />
    <label>Email</label>
    <br />
    @Html.TextBoxFor(x => x.Email)
    <br />
    <label>Konu</label>
    <br />
    @Html.TextBoxFor(x => x.Subject)
    <br />
    <label>Mesaj İçeriği</label>
    <br />
    @Html.TextBoxFor(x => x.MessageContent)
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>