@model AcunMedyaPortfolyo.Models.Message
@{
    ViewBag.Title = "UpdateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update Message</h2>

<form method="post">
    @Html.HiddenFor(x => x.MessageID)
    <label>Name Surname</label>
    <br />
    @Html.TextBoxFor(x => x.NameSurname)
    <br />
    <label>Email</label>
    <br />
    @Html.TextBoxFor(x => x.Email)
    <br />
    <label>Subject</label>
    <br />
    @Html.TextBoxFor(x => x.Subject)
    <br />
    <label>Message Content</label>
    <br />
    @Html.TextBoxFor(x => x.MessageContent)
    <br />
    <button class="btn btn-success">Update</button>
</form>