@model AcunMedyaPortfolyo.Models.Services
@{
    ViewBag.Title = "UpdateServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>UpdateServices</h2>

<form method="post">
    @Html.HiddenFor(x => x.ServicesID)
    <label>Description</label>
    <br />
    @Html.TextBoxFor(x => x.Description)
    <br />
    <label>Title</label>
    <br />
    @Html.TextBoxFor(x => x.Title)
    <br />
    <label>İcon Link</label>
    <br />
    @Html.TextBoxFor(x => x.IconURL)
    <br />
    <label>Description2</label>
    <br />
    @Html.TextBoxFor(x => x.Description2)
    <br />
    <button class="btn btn-success">Update</button>
</form>