@model AcunMedyaPortfolyo.Models.Job
@{
    ViewBag.Title = "UpdateJob";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>UpdateJob</h2>

<form method="post">
    @Html.HiddenFor(x => x.JobID)
    <label>Başlık</label>
    <br />
    @Html.TextBoxFor(x => x.Title)
    <br />
    <label>Başlangıç Tarihi</label>
    <br />
    @Html.TextBoxFor(x => x.StartDate)
    <br />
    <label>Bitiş Tarihi</label>
    <br />
    @Html.TextBoxFor(x => x.EndDate)
    <br />
    <label>Şirket Adı</label>
    <br />
    @Html.TextBoxFor(x => x.CompanyName)
    <br />
    <label>Açıklama</label>
    <br />
    @Html.TextBoxFor(x => x.Description)
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>