@model AcunMedyaPortfolyo.Models.Education
@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update Education</h2>

<form method="post">
    @Html.HiddenFor(x => x.EducationID)
    <label>Start Year</label>
    <br />
    @Html.TextBoxFor(x => x.StartYear)
    <br />
    <label>End Year</label>
    <br />
    @Html.TextBoxFor(x => x.EndYear)
    <br />
    <label>Name</label>
    <br />
    @Html.TextBoxFor(x => x.Name)
    <br />
    <label>Description</label>
    <br />
    @Html.TextBoxFor(x => x.Description)
    <br />
    <label>Section</label>
    <br />
    @Html.TextBoxFor(x => x.Section)
    <br />
    <button class="btn btn-success">Update</button>
</form>