@model List<AcunMedyaPortfolyo.Models.Project>

@foreach (var item in Model)
{
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-@item.Category.CategoryName">
    <img src="@item.Image1" class="img-fluid" alt="">
    <div class="portfolio-info">
        <h4>@item.ProjectName</h4>
        <p>@item.Description</p>
        <a href="@item.Image2" title="@item.ProjectName" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
        <a href="@item.ProjectLink" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
    </div>
</div>
}
