@model AcunMedyaPortfolyo.Models.Project
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update Project</h2>

<form method="post">
    @Html.HiddenFor(x => x.ProjectID)
    <label>Project Name</label>
    <br />
    @Html.TextBoxFor(x => x.ProjectName)
    <br />
    <label>Description</label>
    <br />
    @Html.TextBoxFor(x => x.Description)
    <br />
    <label>Project Link</label>
    <br />
    @Html.TextBoxFor(x => x.ProjectLink)
    <br />
    <label>Image1</label>
    <br />
    @Html.TextBoxFor(x => x.Image1)
    <br />
    <label>Image2</label>
    <br />
    @Html.TextBoxFor(x => x.Image2)
    <br />
    <label>Image3</label>
    <br />
    @Html.TextBoxFor(x => x.Image3)
    <br />
    <label>CategoryID</label>
    <br />
    @Html.TextBoxFor(x => x.CategoryID)
    <br />
    <button class="btn btn-success">Update</button>
</form>